<!DOCTYPE HTML>
<html>
<head>
    <title>stat</title>

    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/custom.css">
    <script type="text/javascript" src="static/jquery.min.js"></script>
    <script type="text/javascript" src="static/angular.min.js"></script>
    <script type="text/javascript" src="static/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/app.js"></script>
</head>
<body style="background-color: #E8F6F3">

<div ng-app="glApp" ng-controller="appCtrl" style="margin-top: 1%" ng-init="init()">

    <!--navbar-->
    <div id="sideNav" class="sidenav">
        <div style="content-align: center">
            <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times close &times</a>
        </div>
        <div style="margin: 2%">
            <div style="vertical-align: top; display: inline-block; width: 47%; margin-left: 1%; margin-right: 1%; margin-top: 0%;">
                <h4><b>Consts:</b></h4>
                <hr>
                <form class="form-horizontal ng-pristine ng-valid" style="margin-top: 1%">
                    <div style="display:inline-block;vertical-align:top; width: 15%; margin-left:1%">
                        <input type="test" class="form-control" placeholder="Name"
                               ng-model="userObjectC.name" ng-keyup="$event.keyCode == 13 &&addConst()">
                    </div>
                    <div style="display:inline-block;vertical-align:top; width: 15%; margin-left:1%">
                        <input type="test" class="form-control" placeholder="Value"
                               ng-model="userObjectC.value" ng-keyup="$event.keyCode == 13 &&addConst()">
                    </div>
                    <div style="display:inline-block;vertical-align:top; width: 15%; margin-left:1%">
                        <input type="test" class="form-control" placeholder="Description"
                               ng-model="userObjectC.comment" ng-keyup="$event.keyCode == 13 &&addConst()">
                    </div>
                    <div style="display:inline-block;vertical-align:top; width: 15%; margin-left:1%">
                        <select class="form-control" ng-model="userObjectC.frequency"
                                ng-options="x for x in freqEnum">
                        </select>
                    </div>
                    <div style="display:inline-block;vertical-align:top; width: 15%; margin-left:1%">
                        <input type="test" class="form-control" placeholder="Freq val"
                               ng-model="userObjectC.freq_value" ng-keyup="$event.keyCode == 13 &&addConst()">
                    </div>

                    <div style="display:inline-block;vertical-align:top; width: 6%; margin-left:1%"
                         class="btn btn-default" ng-click="addConst()">{{editConstText}}
                    </div>
                    <div style="display:inline-block;vertical-align:top; width: 8%; margin-left:1%"
                         class="btn btn-default" ng-click="cancelConst()">Cancel
                    </div>
                </form>
                <div style="margin-top: 2%; overflow-y: scroll; max-height: 80vh">
                    <h4><b>Incomes:</b></h4>
                    <hr>
                    <table class="table table-hover" style="table-layout:fixed">
                        <thead>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Description</th>
                        <th>Frequency</th>
                        <th>Freq value</th>
                        <th>Actions</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in consts" ng-show="x.value>0">
                            <td>{{x.name}}</td>
                            <td>{{x.value}}</td>
                            <td>{{x.comment}}</td>
                            <td>{{x.frequency}}</td>
                            <td>{{x.freq_value}}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn"
                                            ng-click="prepareEditConst(x)">Edit
                                    </button>
                                    <button type="button" class="btn btn-default btn"
                                            ng-click="removeConst(x.name)">Del
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <h4><b>Expenses:</b></h4>
                    <hr>
                    <table class="table table-hover" style="table-layout:fixed">
                        <thead>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Description</th>
                        <th>Frequency</th>
                        <th>Freq value</th>
                        <th>Actions</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in consts" ng-show="x.value<0">
                            <td>{{x.name}}</td>
                            <td>{{x.value}}</td>
                            <td>{{x.comment}}</td>
                            <td>{{x.frequency}}</td>
                            <td>{{x.freq_value}}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn"
                                            ng-click="prepareEditConst(x)">Edit
                                    </button>
                                    <button type="button" class="btn btn-default btn"
                                            ng-click="removeConst(x.name)">Del
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div style="vertical-align: top; display: inline-block; width: 47%; margin-right: 1%; margin-left: 1%; ">

                <h4><b>Applicabilities:</b></h4>
                <hr>

                <form class="form-horizontal ng-pristine ng-valid" style="margin-top:2%">
                    <div style="display:inline-block;vertical-align:top; width: 15%; margin-left:1%">
                        <select class="form-control" ng-model="userObjectA.name"
                                ng-options="x for x in constNameList">
                        </select>
                    </div>
                    <div style="display:inline-block;vertical-align:top; width: 15%; margin-left:1%">
                        <input type="test" class="form-control" placeholder="Start date"
                               ng-model="userObjectA.start_date" ng-keyup="$event.keyCode == 13 &&addAppl()">
                    </div>
                    <div style="display:inline-block;vertical-align:top; width: 15%; margin-left:1%">
                        <input type="test" class="form-control" placeholder="End date"
                               ng-model="userObjectA.end_date" ng-keyup="$event.keyCode == 13 &&addAppl()">
                    </div>

                    <div style="display:inline-block;vertical-align:top; width: 6%; margin-left:1%"
                         class="btn btn-default" ng-click="addAppl()">Add
                    </div>
                    <div style="display:inline-block;vertical-align:top; width: 8%; margin-left:1%"
                         class="btn btn-default" ng-click="cancelAppl()">Cancel
                    </div>
                </form>

                <div style="overflow-y: scroll; max-height: 80vh">
                    <table class="table table-hover" style="table-layout:fixed">
                        <thead>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Actions</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in appls">
                            <td>{{x.name}}</td>
                            <td>{{x.start_date}}</td>
                            <td>{{x.end_date}}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn"
                                            ng-click="removeAppl(x.id)">Del
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <!--navbar opn button-->
    <span style="font-size:30px;cursor:pointer;margin-left: 1%; margin-top: 3%" ng-click="openNav()">&#9776;</span>

    <!--years selection-->
    <select class="form-control" ng-model="selectedYear"
            ng-options="x for x in years" ng-change="getMonthData()"
            style="width: 10%; margin-left: 2%; display: inline-block; width: 4%">
    </select>

    <!--months selection-->
    <select class="form-control" ng-model="selectedMonth" ng-init="monthsText[curMonth]"
            id='_month_selection' ng-change="getMonthData()"
            style="margin-left: 0.2%; display: inline-block; width: 7%">
        <option ng-repeat="x in monthsText">{{x}}</option>
    </select>

    <div class="btn btn-default" style="margin-left: 0.2%; margin-top: -0.2%" ng-click="goToToday()">Today</div>

    <div style="display: inline-block; margin-left: 2%; width: 10%">{{selectedDay}} {{selectedMonth}} {{selectedYear}}
    </div>

    <div class="btn btn-default" style="margin-top: -0.2%; margin-left: 2%" ng-click="switchDate('dec', 'day')">-Day
    </div>
    <div class="btn btn-default" style="margin-top: -0.2%; margin-left: 0.1%" ng-click="switchDate('inc', 'day')">Day+
    </div>
    <div class="btn btn-default" style="margin-top: -0.2%; margin-left: 1%;" ng-click="switchDate('dec', 'month')">
        -Month
    </div>
    <div class="btn btn-default" style="margin-top: -0.2%; margin-left: 0.1%" ng-click="switchDate('inc', 'month')">
        Month+
    </div>
    <div class="btn btn-default" style="margin-top: -0.2%; margin-left: 1%;" ng-click="switchDate('dec', 'year')">
        -Year
    </div>
    <div class="btn btn-default" style="margin-top: -0.2%; margin-left: 0.1%" ng-click="switchDate('inc', 'year')">
        Year+
    </div>

    <div style="margin-top: 2%; max-height: 80%">
        <div style="display: inline-block; width: 30%; margin-left: 2%; overflow: scroll; max-height: 80vh">
            <table title="Month values" class="table table-hover" style="table-layout:fixed">
                <thead>
                <th>Day</th>
                <th>Start</th>
                <th>Inc</th>
                <th>Dec</th>
                <th>End</th>
                </thead>
                <tr ng-repeat="x in month_data" ng-click="onSelectDay(x.day_index)" style="{{x.style}}">
                    <td>{{ x.day_index }}</td>
                    <td>{{ x.day_start }}</td>
                    <td>{{ x.incomes }}</td>
                    <td>{{ x.expenses }}</td>
                    <td>{{ x.day_end }}</td>
                </tr>
            </table>
        </div>

        <div style="display: inline-block; width: 50%; margin-left: 2%; padding: 0%; vertical-align:top">

            <hr>
            <table title="Day diffs income" class="table table-hover">
                <thead>
                <th>Income</th>
                <th style="width: 36%">Description</th>
                <th>Actions</th>
                </thead>
                <tbody>
                <tr ng-repeat="x in day_diffs" ng-show="x.value>0">
                    <td>{{x.value}}</td>
                    <td>{{x.comment}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn"
                                    ng-click="prepareEditInc(x)">Edit
                            </button>
                            <button type="button" class="btn btn-default btn"
                                    ng-click="removeRec(x.id)">Remove
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>


            <form class="form-horizontal ng-pristine ng-valid" style="margin-top:2%">
                <div style="display:inline-block;vertical-align:top; width: 15%; margin-left:1%">
                    <input class="form-control" id="new_value_i" placeholder="Value"
                           ng-model="userObjectI.Value" ng-keyup="$event.keyCode == 13 &&addInc()">
                </div>
                <div style="display:inline-block;vertical-align:top; width: 38%; margin-left:1%">
                    <input class="form-control" id="new_desc_i" placeholder="Description"
                           ng-model="userObjectI.Desc" ng-keyup="$event.keyCode == 13 &&addInc()">
                </div>
                <div style="display:inline-block;vertical-align:top; width: 5%; margin-left:1%"
                     class="btn btn-default" ng-click="addInc()">{{editTextInc}}
                </div>
                <div style="display:inline-block;vertical-align:top; width: 7%; margin-left:1%"
                     class="btn btn-default" ng-click="cancelInc()">Cancel
                </div>
            </form>

            <table title="Day diffs expense" class="table table-hover; margin-top:5%">
                <thead>
                <th>Expense</th>
                <th style="width: 35%">Description</th>
                <th>Actions</th>
                </thead>
                <tbody>
                <tr ng-repeat="x in day_diffs" ng-show="x.value<0">
                    <td>{{x.value}}</td>
                    <td>{{x.comment}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn"
                                    ng-click="prepareEditDec(x)">Edit
                            </button>
                            <button type="button" class="btn btn-default btn"
                                    ng-click="removeRec(x.id)">Remove
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <form class="form-horizontal ng-pristine ng-valid" style="margin-top:2%">
                <div style="display:inline-block;vertical-align:top; width: 15%; margin-left:1%">
                    <input type="test" class="form-control" id="new_value_e" placeholder="Value"
                           ng-model="userObjectE.Value" ng-keyup="$event.keyCode == 13 &&addDec()">
                </div>
                <div style="display:inline-block;vertical-align:top; width: 38%; margin-left:1%">
                    <input type="test" class="form-control" id="new_desc_e" placeholder="Description"
                           ng-model="userObjectE.Desc" ng-keyup="$event.keyCode == 13 &&addDec()">
                </div>
                <div style="display:inline-block;vertical-align:top; width: 5%; margin-left:1%"
                     class="btn btn-default" ng-click="addDec()">{{editTextDec}}
                </div>
                <div style="display:inline-block;vertical-align:top; width: 7%; margin-left:1%"
                     class="btn btn-default" ng-click="cancelDec()">Cancel
                </div>
            </form>

        </div>


    </div>
</body>
</html>
